@use "../../colors.scss";

.subtask {
  display: flex;
  gap: 1.6rem;
  margin-bottom: 1.2rem;
  &__btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s;
    svg {
      transition: all 0.3s;
      fill: colors.$medium-grey;
    }
    &:hover {
      svg {
        fill: colors.$red;
      }
    }
  }
}
