@use "../../colors.scss";

.theme-change {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.367rem;
  width: 25.1rem;
  height: 4.8rem;
  background-color: var(--color-background);
  border-radius: 6px;

  &__switch {
    position: relative;
    display: inline-block;
    width: 4rem;
    height: 2rem;
  }
  &__switch--input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  &__switch-slider {
    position: absolute;
    background-color: colors.$main-purple;
    transition: all 0.5s;
    border-radius: 12px;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  &__switch-slider::after {
    position: absolute;
    content: "";
    height: 1.4rem;
    width: 1.4rem;
    left: 3px;
    top: 3px;
    border-radius: 50%;
    background-color: colors.$white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  &__switch--input:checked + &__switch-slider::after {
    transform: translateX(20px);
    right: 3px;
    top: 3px;
  }
  &__switch-slider:hover {
    background-color: colors.$main-purple-hover;
  }
}

@media screen and (max-width: 1400px) {
  .theme-change {
    width: 23.5rem;
    margin-right: -0.8rem;
  }
}
