@use "../../colors.scss";

.board-view {
  position: relative;
  padding: 2.4rem 0rem 5rem 2.4rem;
  width: 100%;
  background-color: var(--color-background);
  display: flex;
  gap: 2.4rem;
  overflow-y: hidden;
  overflow-x: auto; //???
  // scrollbar-gutter: stable both-edges;
  &__new-column {
    flex-shrink: 0;
    border: none;
    font-family: inherit;
    width: 28rem;
    margin-top: 3.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
    cursor: pointer;

    background: var(--new-column-bgc);
    color: colors.$medium-grey;
  }

  &__new-column:hover {
    color: colors.$main-purple;
    box-shadow: 0 0 0 1px colors.$main-purple;
  }

  &__empty-board {
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3.2rem;
    color: colors.$medium-grey;
  }

  &__text {
    text-align: center;
  }

  &__btn-container {
    width: 17.4rem;
  }
}

.board-view::-webkit-scrollbar {
  height: 10px;
  color: colors.$main-purple;
}
.board-view::-webkit-scrollbar-track {
  background: var(--main-color);
}
.board-view::-webkit-scrollbar-thumb {
  background: colors.$main-purple;
}

@media screen and (max-width: 1400px) {
  .board-view {
    padding-top: 2.3rem;
    padding-bottom: 6.7rem;
  }
}
