@use "../../colors.scss";

.card {
  max-width: 28rem;
  background: var(--main-color);
  box-shadow: 0px 4px 6px rgba(54, 78, 126, 0.101545);
  border-radius: 8px;
  padding: 2.3rem 1.6rem;
  cursor: pointer;
  color: var(--paragraph);
  transition: all 0.3s;
  &__title {
    margin-bottom: 0.8rem;
  }
  &__text {
    color: colors.$medium-grey;
  }
}

.card:hover {
  color: colors.$main-purple;
  &__title {
    color: aquamarine;
  }
  &__text {
    color: aquamarine;
  }
}
