.page-header {
  display: flex;
  width: 100%;
  height: 9.7rem;
  align-items: center;
  justify-content: center;
  background-color: var(--main-color);

  &__icon-container {
    padding: 3.6rem 3.247rem 3.678rem 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 21rem;
    height: 100%;
    border-right: 1px solid var(--lines);
    border-bottom: 1px solid var(--lines);
    // transition: padding 0.3s;
    transition: width 0.3s;
    // transition: all 1s;
  }

  &__icon {
    flex-shrink: 0;
    width: 15.253rem;
    height: 2.522rem;
    background-image: var(--logo);
  }
  &__content {
    padding: 2rem 3.238rem 2.8rem 2.4rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--lines);
  }

  &__heading {
    height: fit-content;
    padding-top: 0.9rem;
    color: var(--paragraph);
  }
  &__menu {
    width: 20.3rem;
    display: flex;
    align-items: center;
    gap: 1.4rem;
  }
  &__menu-btn {
    padding: 1rem;
    border: none;
    background-color: inherit;
    cursor: pointer;
  }
}
.opened {
  .page-header {
    &__icon-container {
      padding: 3.5rem 11.347rem 3.678rem 3.4rem;
      width: 30rem;
      border-bottom: unset;
    }
  }
}

@media screen and (max-width: 1400px) {
  .page-header {
    height: 8.1rem;
    &__icon-container {
      padding: 2.8rem 2.347rem 2.678rem 2.4rem;
    }
    &__content {
      padding: 1.6rem 2.438rem 1.6rem 2.4rem;
    }
    &__heading {
      padding-top: 1.2rem;
    }
  }
  .opened {
    .page-header {
      &__icon-container {
        padding: 3.248rem 8.147rem 2.3rem 2.6rem;
        width: 26rem;
        border-bottom: unset;
      }
    }
  }
}

//3.248rem 8.147rem 2.3rem 2.6rem
