@use "../../../colors.scss";

.nav-board {
  width: 27.5rem;
  &__title {
    color: colors.$medium-grey;
    margin-left: 3.2rem;
    margin-bottom: 1.9rem;
  }
  &__items {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 1400px) {
  .nav-board {
    width: 24rem;
    &__title {
      margin-left: 2.4rem;
    }
  }
}
@media screen and (max-width: 750px) {
  .nav-board {
    margin-bottom: 1.6rem;
  }
}
