@use "../../../../colors.scss";

.delete-task-board {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  &__heading {
    color: colors.$red;
  }
  &__text {
    color: colors.$medium-grey;
  }

  &__btns {
    display: flex;
    gap: 1.6rem;
  }
}

@media screen and (max-width: 750px) {
  .delete-task-board {
    &__btns {
      flex-direction: column;
    }
  }
}
