@use "../../../colors.scss";

.task-column {
  width: 28rem;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  flex-shrink: 0;
  &__header {
    display: flex;
    align-items: center;
    gap: 1.2rem;
  }

  &__color {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
  }

  &__title {
    color: colors.$medium-grey;
  }

  &__body-container {
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  &__body-container::-webkit-scrollbar {
    display: none;
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
